<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,对statement的信息进行分类管理 -->
<!-- 注意：在mapper代理时，它具有特殊及重要的作用,需要和mapper接口的全限命名一致 -->
<mapper namespace="com.qjz.declarePlatfrom.dao.ItemTypeDao">
	
	<select id="listItemType" resultType="com.qjz.declarePlatfrom.domain.ItemType">
		SELECT * FROM itemType
		<where>
			<if test="itemType_name != null and itemType_name != ''">
				AND itemType_name = #{itemType_name}
			</if>
		</where>
		LIMIT #{start},#{pageSize}
	</select>
	
	<select id="count" parameterType="java.lang.String" resultType="java.lang.Long">
		SELECT count(*) FROM itemType
		<where>
			<if test="itemType_name != null and itemType_name != ''">
				AND itemType_name = #{itemType_name}
			</if>
		</where>
	</select>
	
	<update id="updateItemType" parameterType="com.qjz.declarePlatfrom.domain.ItemType">
		UPDATE itemType
		SET itemType_name = #{itemType_name},
			item_description = #{item_description}
		WHERE itemType_id = #{itemType_id}
	</update>
	
	<insert id="addItemType" parameterType="com.qjz.declarePlatfrom.domain.ItemType">
		INSERT INTO
		itemType(itemType_name,
			item_description)
		VALUES(#{itemType_name},
			#{item_description})
	</insert>
	
	<delete id="deleteItemType" parameterType="int">
		DELETE FROM itemType
		WHERE itemType_id = #{itemType_id}
	</delete>
	
</mapper>