<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,对statement的信息进行分类管理 -->
<!-- 注意：在mapper代理时，它具有特殊及重要的作用,需要和mapper接口的全限命名一致 -->
<mapper namespace="com.qjz.declarePlatform.dao.ApplyDao">
	
	<select id="listApply" resultType="com.qjz.declarePlatform.domain.Apply">
		SELECT * FROM apply
		<where>
			<if test="item_submit != null and item_submit != ''">
				AND item_submit = #{item_submit}
			</if>
			<if test="item_status != null and item_status != ''">
				AND item_status = #{item_status}
			</if>
			<if test="str != null and str != ''">
				AND (item_name LIKE '%${str}%' OR item_user LIKE '%${str}%')
			</if>
			<if test="apply != null">
				<if test="apply.user_department != null and apply.user_department != ''">
					AND user_department = #{apply.user_department}
				</if>
				<if test="apply.item_type != null and apply.item_type != ''">
					AND item_type = #{apply.item_type}
				</if>
			</if>
		</where>
		ORDER BY apply_time ASC
		LIMIT #{start},#{pageSize}
	</select>
	
	<select id="count" resultType="java.lang.Long">
		SELECT count(*) FROM apply
		<where>
			<if test="item_submit != null and item_submit != ''">
				AND item_submit = #{item_submit}
			</if>
			<if test="item_status != null and item_status != ''">
				AND item_status = #{item_status}
			</if>
			<if test="str != null and str != ''">
				AND (item_name LIKE '%${str}%' OR item_user LIKE '%${str}%')
			</if>
			<if test="apply != null">
				<if test="apply.user_department != null and apply.user_department != ''">
					AND user_department = #{apply.user_department}
				</if>
				<if test="apply.item_type != null and apply.item_type != ''">
					AND item_type = #{apply.item_type}
				</if>
			</if>
		</where>
	</select>
	
	<update id="updateApply" parameterType="com.qjz.declarePlatform.domain.Apply">
		UPDATE apply
		SET item_name = #{item_name},
			item_type = #{item_type},
			item_user = #{item_user},
			user_department = #{user_department},
			item_starttime = #{item_starttime},
			item_deadline = #{item_deadline},
			item_description = #{item_description}
		WHERE item_id = #{item_id}
	</update>
	
	<insert id="addApply" parameterType="com.qjz.declarePlatform.domain.Apply">
		INSERT INTO
		apply(item_name,
			item_type,
			item_user,
			user_department,
			item_starttime,
			item_deadline,
			item_description)
		VALUES(#{item_name},
			#{item_type},
			#{item_user},
			#{user_department},
			#{item_starttime},
			#{item_deadline},
			#{item_description})
	</insert>
	
	<delete id="deleteApplyById" parameterType="int">
		DELETE FROM apply
		WHERE item_id = #{item_id}
	</delete>
	
	<delete id="deleteApplyBatchs">
		DELETE FROM apply
		WHERE item_id IN
		<foreach collection="array" item="item_id" open="(" close=")" separator=",">
			#{item_id}
		</foreach>
	</delete>
	
	<update id="submitApply">
		UPDATE apply
		SET item_submit = #{item_submit},
			apply_time = NOW()
		WHERE item_id = #{item_id}
	</update>
	
	<update id="submitApplyBatchs">
		UPDATE apply
		SET item_submit = #{item_submit},
			apply_time = NOW()
		WHERE item_id IN
		<foreach collection="array" item="item_id" open="(" close=")" separator=",">
			#{item_id}
		</foreach>
	</update>
	
	<update id="changeStatus">
		UPDATE apply
		SET item_status = #{item_status}
		WHERE item_id = #{item_id}
	</update>
	
</mapper>