<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper    
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"    
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:命名空间,对statement的信息进行分类管理 -->
<!-- 注意：在mapper代理时，它具有特殊及重要的作用,需要和mapper接口的全限命名一致 -->
<mapper namespace="com.qjz.declarePlatform.dao.ConfigDao">
	
	<select id="show" resultType="com.qjz.declarePlatform.domain.Config">
		SELECT * FROM config
	</select>
	
	<select id="count" resultType="java.lang.Long">
		SELECT count(*) FROM config
	</select>
	
	<update id="updateConfig" parameterType="com.qjz.declarePlatform.domain.Config">
		UPDATE config
		SET config_flag = #{config_flag}
		WHERE config_id = #{config_id}
	</update>
	
	<select id="getConfigStatus" resultType="java.lang.String">
		SELECT config_flag FROM config
		WHERE config_id = 1;
	</select>
	
</mapper>